.main-para {
  width: 75%;
}

.para {
  font-size: 30px;
  width: 300px;
}

.icon {
  font-size: 30px;
}

.ad-img {
  width: 80%;
}

/* Section 5 */
.section-5 {
  gap: 5rem;
}

.sec-5-img {
  width: 80%;
}

.second-text {
  width: 80%;
}

/* Section 6 */
.sec-6-left-2::after {
  width: 55.3%;
  top: 538.5%;
}

.left-icon {
  left: 53%;
}

.sec-6-right-2 {
  gap: 1rem;
  padding: 20px 20px 10px 20px;
}

.box {
  gap: 1rem;
  height: min-content;
}

.box-img {
  width: 80px;
  height: 80px;
}

.box-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-icon-1 {
  top: 538%;
}

.right-icon-2 {
  top: 567%;
}

.right-icon-3 {
  top: 592%;
}

.right-icon-4 {
  top: 622%;
}

.box-para {
  width: 100%;
}

.sec-6-sub-sec-3 {
  left: 88%;
}

/* Section 7 */
.sec-7-main-text {
  width: 50%;
}

/* Section 8 */
.sec-8-para-3 {
  width: 38%;
}

.sec-8-imgs {
  height: 35vh;
}

/* Footer */
.list-4 {
  margin-top: 20px;
  width: 95%;
}

.rights-section {
  /* border: 2px solid black; */
  width: 100%;
  padding: 20px 120px;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 37);
}

.foot-sec-1 {
  padding: 20px 10px 20px 120px;
}

.rights-section {
  gap: 0px;
}
