.main-para {
  width: 70%;
}

.para {
  font-size: 30px;
  width: 300px;
}

.icon {
  font-size: 30px;
}

.ad-img {
  width: 75%;
}

/* Section 5 */
.section-5 {
  gap: 5rem;
}

.sec-5-img {
  width: 80%;
}

.second-text {
  width: 80%;
}

/* Section 6 */
.sec-6-left-2::after {
  width: 55.5%;
  top: 548%;
}

.left-icon {
  left: 53%;
}

.sec-6-right-2 {
  gap: 1rem;
  padding: 20px 20px 10px 20px;
}

.box {
  gap: 1rem;
  height: min-content;
}

.box-img {
  width: 80px;
  height: 80px;
}

.box-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-icon-1 {
  top: 550%;
}

.right-icon-2 {
  top: 577%;
}

.right-icon-3 {
  top: 603%;
}

.right-icon-4 {
  top: 630%;
}

.box-para {
  width: 100%;
}

.sec-6-sub-sec-3 {
  left: 89%;
}

/* Section 8 */
.sec-8-para-3 {
  width: 35%;
}

/* Footer */
.list-4 {
  width: 95%;
}

.rights-section {
  gap: 0px;
}
